<html>
    <head>
        <title>Sia's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sia's blog</a></h1>
        </div>

        <div>
            <p>published: 29.01.2018, 20:13</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fermentum ullamcorper lorem, in luctus libero condimentum sed. Suspendisse ut rutrum.</p>
        </div>

        <div>
            <p>published: 29.01.2014, 20:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sem nec lectus faucibus aliquam. Donec laoreet purus id nisi.</p>
        </div>
    </body>
</html>
